{% extends 'ConcertoCmsCoreBundle:_Layouts:base.html.twig' %}
{% block title %}Browse content{% endblock %}

{% block content %}
    <div id="contentContainer">

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/templates.core.js') }}"></script>
    <script src="{{ asset('js/core.js') }}"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
    <script>

        _.extend(CKEDITOR.config, {
            language: 'nl',
            filebrowserBrowseUrl: '{{ path('elfinder') }}'/*,

             toolbarGroups: [
             { name: 'source', items: [ 'Source' ] },
             { name: 'customtools', items: [ 'Maximize', 'ShowBlocks']},
             { name: 'formatting', items: [ 'RemoveFormat' ]},
             { name: 'paste', items: [ 'PasteText', 'PasteFromWord' ] },
             { name: 'cmsInsert', items: ['Image', 'Table', 'HorizontalRule', 'Blockquote', '-', 'Templates'] },
             { name: 'paragraph',   items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
             '/',
             { name: 'customstyles', items: [ 'Styles', 'Format' ] },
             { name: 'basics', items: [ 'Bold', 'Italic', 'Underline'] },
             { name: 'customcolors', items: [ 'TextColor', 'BGColor' ] },
             { name: 'customanchors', items: ['Link', 'Unlink', 'Anchor']},
             { name: 'justify', items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] }
             ]*/
        });

        window.controller = new Controller.Content({
            pages: {{ pages|json_encode|raw }},
            pageTypes: {{ getPagetypes()|json_encode|raw }} {#[
                {
                    id: 'ConcertoCMFCoreBundle:Page',
                    label: 'Eenvoudige pagina',
                    view: View.PageContent_Page
                },
                {
                    id: 'BetecWebsiteBundle:Product',
                    label: 'Productpagina',
                    view: View.PageContent_Product,
                    createRoute: 'betec_backend_content_rest_new_product'
                },
                {
                    id: 'BetecWebsiteBundle:NewsList',
                    label: 'Nieuwsoverzicht',
                    view: View.PageContent_Page,
                    allowChildPageTypes: [],
                    createRoute: 'betec_backend_content_rest_new_newslist'
                }
            ]#}
        });
    </script>
{% endblock %}