{% extends 'ConcertoCmsCoreBundle:_Layouts:base.html.twig' %}
{% block title %}Navigation{% endblock %}

{% block content %}
    <div id="navigationContainer">

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/templates.core.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('ckeditor/adapters/jquery.js') }}"></script>
    <script>
        window.controller = new Controller.Menu({
            menus: {{ menus|json_encode|raw }},
            languages: {{ languages|json_encode|raw }}

        });
    </script>
{% endblock %}