<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('concerto_cms_core_dashboard') }}">Betec NV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% set currentUri = app.request.baseUrl ~ app.request.pathInfo %}
            {% set menu = knp_menu_get('topmenu') %}
            {% for item in menu.children %}
                <li{% if item.uri == currentUri %} class="active"{% endif %}><a href="{{ item.uri }}">{{ item.name }}</a></li>
            {% endfor %}

            {#
            <li{% if route == 'concerto_cms_core_content' %} class="active"{% endif %}><a href="{{ path('concerto_cms_core_content') }}">Content</a></li>
            <li{% if route == 'betec_backend_navigation' %} class="active"{% endif %}><a href="{{ path('betec_backend_navigation') }}">Menu</a></li>
            <li{% if route == 'betec_backend_news' %} class="active"{% endif %}><a href="{{ path('betec_backend_news') }}">News</a></li>
            #}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {#
            <li><a href="#"><i class="glyphicon glyphicon-search"></i></a></li>
            #}
            <li><a href="javascript:openFilemanager"><i class="glyphicon glyphicon glyphicon-hdd"></i></a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> Mathieu Maes</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Afmelden</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>