    <div class="container">
        <h1>{{ page.get('title')|default('<em>Geen titel</em>') }}</h1>
        <div class="row">
            <div class="col-sm-6">

                <ol class="breadcrumb">
                    {% set urlParts = page.id|split("/") %}

                    {% set urlPrefix = '' %}
                    {% for part in urlParts %}
                        {% if loop.first %}
                            {% if loop.last %}
                                <li class="active"><i class="glyphicon glyphicon-home"></i></li>
                            {% else %}
                                <li><a href="#{{ language.get('slug') }}/{{ part }}"><i class="glyphicon glyphicon-home"></i></a></li>
                            {% endif %}
                        {% else %}
                            {% if loop.last %}
                                <li class="active">{{ part }}</li>
                            {% else %}
                                <li><a href="#{{ language.get('slug') }}/{{ urlPrefix }}{{ part }}">{{ part }}</a></li>
                            {% endif %}
                        {% endif %}
                        {% set urlPrefix = urlPrefix ~ part ~ '/' %}
                    {% endfor %}
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group">
                        <a href="#{{ language.get('name') }}" class="btn btn-info"><i class="glyphicon glyphicon-chevron-left"></i> Terug naar lijst</a>
                    </div>
                    {#
                    <div class="btn-group">
                        <button class="btn btn-danger">Delete</button>
                        <button class="btn btn-default">Move</button>
                        <button class="btn btn-default">Preview</button>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </div>
<hr />